#Ignore all object code and executables
*.o
*.exe
*.out

#Ignore output of CMake
CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Makefile

# Ignore latex garbage
*.aux
*.bbl
*.blg
*.log
*.pdf
*.synctex.gz

# Ignore png files
*.png

# Ignore Jupyter notebook checkpoints
*/.ipynb_checkpoints/*